{% extends "base.html" %}
{% block content %}

	 <!-- Begin page content -->
    <div class="container">

     <h1>Demographic Information</h1>

    <p> The Chicana Latina Foundation collects demographic information for the purposes of developing profiles of our recipients. Aggregate data is often required by funders and is very important for evaluating our programs. This completed form is not disclosed to readers and interviewers and will in no way affect your eligibility for the scholarship. Thank you for assisting us. </p>
<br />
<legend>Please complete and include this confidential form with your application.</legend>



<span>Have you applied for financial aid?</span>

<div class="row">

<div class="span1">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
  Yes
</label>
</div>
<div class="span2">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    No
</label>
</div>
</div>

<div class="control-group">
  <textarea  placeholder="Explain why not..."></textarea>
</div>


<span>Do you qualify for any other financial awards?</span>

<div class="row">

<div class="span1">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
  Yes
</label>
</div>
<div class="span2">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    No
</label>
</div>
</div>

<div class="control-group">
  <textarea  placeholder="List the financial awards..."></textarea>
</div>


<span>Would you classify yourself as economically disadvantaged?</span>

<div class="row">

<div class="span1">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
  Yes
</label>
</div>
<div class="span2">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    No
</label>
</div>
</div>
 <br />


 <p> What is your annual household income?<br />If you are a dependent, use parents income. If you are not dependent, use your independent household’s income. </p>


    <select class="form-control" name="AnnualIncome">
  <option>Below &#36;15,000</option>
  <option>&#36;15,001-$25,000</option>
  <option>&#36;25,000-&#36;35,000</option>
  <option>&#36;35,000-&#36;55,000</option>
  <option>&#36;55,000-&#36;75,000</option>
  <option>&#36;75,000-&#36;95,000</option>
  <option>&#36;95,000-&#36;125,000</option>
  <option>&#36;125,000-&#36;160,000</option>
  <option>&#62;$160,000</option>
  </select>
  <br /><br />

<span>Are you Head of Household?</span>

<div class="row">

<div class="span1">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
  Yes
</label>
</div>
<div class="span2">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    No
</label>
</div>
</div>
 <br />


  <p>How many dependents are in your family including yourself? </p>

    <select class="form-control" name="NumDependents">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
  <option>7</option>
  <option>8</option>
  <option>9</option>
  <option>10 or more</option>
  </select>

  <br /><br />


   <span>Are you a parent?</span>

  <div class="row">
  <div class="span1">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
  Yes
</label>
</div>
<div class="span1">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    No
</label>
</div>
   </div>

      <input type="text" id="NumChildren" placeholder="Number of children">

  <br />

   <br />
   <span>Are you a single parent?</spanp>

   <div class="row">
  <div class="span1">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
  Yes
</label>
</div>
<div class="span1">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    No
</label>
</div>
</div><br />

 <span>Are you an immigrant to this country?</spanp>

   <div class="row">
  <div class="span1">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
  Yes
</label>
</div>
<div class="span1">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    No
</label>
</div>
</div><br />

<div class="control-group">
    <div class="row">
     <div class="span3">
     	<label class="control-label pull-left" for="MailingZip" >Country Immigrated From</label></div>
     <div class="span4">
      <div class="controls">
      <input type="text" id="Reference1Name" class="input-xlarge" placeholder="">
      </div>
    </div>

     <div class="span2">
     	<label class="control-label pull-left" for="MailingZip" >Immigration Date</label></div>

    <div class="span2">
      <div class="controls">
      <input type="date" id="Reference1Email"  placeholder="">
      </div>
    </div>

    </div>
    </div>

 <br />


<span>Is your Mother an immigrant to this country?</span>

<div class="row">
  <div class="span1">
	<label class="radio">
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Yes</label>
   </div>
  <div class="span1">
  <label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">No</label>
   </div>
</div>

<br />

<div class="row">
     <div class="span3">
     	<label class="control-label pull-left" for="MailingZip" >Country Immigrated From</label></div>
     <div class="span4">
      <div class="controls">
      <input type="text" id="Reference1Name" class="input-xlarge" placeholder="">
      </div>
</div>
</div>
<br />

<span>Is your Father an immigrant to this country?</span>

<div class="row">
  <div class="span1">
	<label class="radio">
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Yes</label>
   </div>
  <div class="span1">
  <label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">No</label>
   </div>
</div>

<br />

<div class="row">
     <div class="span3">
     	<label class="control-label pull-left" for="MailingZip" >Country Immigrated From</label></div>
     <div class="span4">
      <div class="controls">
      <input type="text" id="Reference1Name" class="input-xlarge" placeholder="">
      </div>
</div>
</div>

<br />

<span>Are you an AB540 student?</span>

<div class="row">

<div class="span1">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
  Yes
</label>
</div>
<div class="span2">
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    No
</label>
</div>
</div>
 <br />


    <div class="row">
     <div class="span3">
     	<label class="control-label pull-left" for="MailingZip" >Highest grade level of education completed by your mother</label></div>
     <div class="span4">
      <div class="controls">
      <input type="text" id="Reference1Name" class="input-xlarge" placeholder="">
      </div>
    </div>
    </div>

    <br />
        <div class="row">
     <div class="span3">
     	<label class="control-label pull-left" for="MailingZip" >Highest grade level of education completed by your father</label></div>
     <div class="span4">
      <div class="controls">
      <input type="text" id="Reference1Name" class="input-xlarge" placeholder="">
      </div>
    </div>
    </div>
    <br />


        <div class="row">
     <div class="span3">
     	<label class="control-label pull-left" for="MailingZip" > What is the primary language spoken in your home?</label></div>
     <div class="span4">
      <div class="controls">
      <input type="text" id="Reference1Name" class="input-xlarge" placeholder="">
      </div>
    </div>
    </div>

    <br />




 <br />


    <!---->
    <br class="clearfix" /><br /><br />

    <p class="pull-right">
    <button class="btn btn-large btn-danger" type="button">Cancel</button>
    <button class="btn btn-large btn-success" type="button">Save and Continue</button>
    </p>

    <br /><br /><br /><br />
     </form>
     </div>

{% endblock %}
