{% extends "base.html" %}
{% block content %}


<h1>Essay Questions</h1>



   <form class="form-horizontal">
  <fieldset>
    <legend>Essays</legend>

    <h5>Essay 1</h5>

    <p>As a Chicana/Latina, describe your most valued community commitments, academic achievements, and/or leadership activities? <br />What and/or who motivated you to action? </p>
<p>Please be sure to include relevant information such as your family background and how you overcame challenges and obstacles.</p>



    <textarea rows="15" class="wider" placeholder="Type your first essay here..."></textarea>


     <h5>Essay 2</h5>

    <p>Imagine yourself ten years from now. What role will you play and how will you impact the social justice issues facing Latinas?</p>
<p>Please address the issues you most want to impact, such as inequities related to health, social, environmental, academic, economic; immigration; education; gender; LGBT, etc.</p>



    <textarea rows="15" class="wider" placeholder="Type your second essay here..."></textarea>
    </div>


   <!---->
    <!---->
    <br>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
  </fieldset>
</form>



{% endblock %}
