{% extends "base.html" %}
{% block content %}

      <p>The purpose of the Chicana/Latina Foundation (CLF) Scholarship Program is to assist Chicana/Latina students in completing their undergraduate and graduate college education.</p> 
    
    <p>Toward this end, the CLF awards $1,500 scholarships and the accompanying leadership training on a competitive-basis to continuing full-time undergraduate and graduate college students of Chicana/Latina heritage.</p>
    
    <p>Occasionally, funders and individual philanthropists donate funds to be given in addition to the $1,500 scholarship for targeted achievements.</p>
    
    <p>Toward this end, the CLF awards $1,500 scholarships and the accompanying leadership training on a competitive-basis to continuing full-time undergraduate and graduate college students of Chicana/Latina heritage.</p>
    
    <p>Occasionally, funders and individual philanthropists donate funds to be given in addition to the $1,500 scholarship for targeted achievements.</p>
    
    
<p>Award decisions are made by the Board of Directors of the Chicana/Latina Foundation based on the recommendations of volunteers from the community. </p>


<ol>
<li>Each submission is read and rated by volunteers.</li>
<li> From the higher-rated submissions, semi-finalists are selected.</li> 
<li>Each semi-finalist is interviewed by a panel of volunteers. </li>
<li>The Board of Directors selects finalists based upon the recommendations of the interview panels.</li>
</ol>
    
<h3>CLF awards are based upon the applicant’s:</h3>

<ul>
<li>Commitment to Chicana/Latina women's progress and development</li>
<li>Demonstrated leadership qualities</li>
<li>Involvement within and on behalf of the Latina/o community</li>
<li>Clarity of direction and goals</li>
<li>Overcoming personal challenges and obstacles</li>
<li>Academic achievement</li>
</ul>

<p><strong>Applicants understand that the scholarship is given to those who can and want to attend the Leadership Institute (LI). LI is a retreat offered solely for winners of our scholarship and is held in 2 parts.</strong>  </p>

<p>The first one will be in <strong>Early August 2014</strong> and the second sometime in <strong>early February 2015.</strong></p>

 
<p>All winners of the scholarship are expected to attend both sessions. We are giving 

advance notice of the dates, so you can prioritize attending these retreats. Failure to 

participate may affect eligibility for our scholarship program.

Please read through this entire document to familiarize yourself with the process and insure 

your eligibility before completing the application process.</p>
    
    
    <p>Please read through this entire document to familiarize yourself with the process and insure 

your eligibility before completing the application process.</p>

<legend>Eligibility Requirements</legend>

<p>Applicants must meet ALL of the following criteria to be eligible for the CLF Scholarship.
Candidates must:</p>
<ul>
<li>Be a woman of Chicana/Latina heritage.</li>
<li>Be enrolled in an accredited college, university, or community college in one of the following Northern California counties:
<ul>
<li>Alameda</li> 
<li>Contra Costa</li> 
<li>Marin</li>
<li>Monterey </li>
<li>Napa </li>
<li>Sacramento</li>         
<li>San Francisco </li>
<li>San Mateo </li>
<li>Santa Clara </li>
<li>Santa Cruz </li>
<li>Solano </li>
<li>Sonoma </li>
<li>Yolo </li></ul>
<li>Have lived at least two years in one of the above Northern California counties at the time of application</li></ul>

<p>Community College and Undergraduate students must:</p><ul>
    <li>Be enrolled as a full-time college student (as defined by your institution*) when</li>
     <li>applying and for the following academic year, and </li>
    <li>Have completed 12 college units after high school graduation, and </li>
    <li>Have a cumulative GPA of 2.5 of college course work</li></ul>

<p>Graduate students must: </p><ul>
    <li>Be enrolled graduate/professional students completing course/thesis/dissertation; </li>
      or have been accepted into graduate/professional school, and</li> 
    <li>Have a cumulative GPA of 3.0 for college course work </li></li>

<p>Commit to attending the CLF Leadership Institute (one weekend in August after being selected and one weekend the following year in February)</p>
<p>Commit to volunteering ten (10) hours for CLF before March the year after being selected</p>
<p>Past CLF awardees may not re-apply until four years after receiving our scholarship</p>

<p>*If your institution considers you full-time, but you are enrolled or will be enrolled in less than 12 units, please explain the reason you are considered full-time in the Comments section of your application.</p>
    
    <br clear="all" />
      </p>
    
<br><br> 
 
<p><b><a href="{% url 'profile' %}">Edit your profile</a> <a href="{% url 'background' %}">Button for background</a> <a href="{% url 'essayquestions' %}">Button for essay section</a> <a href="{% url 'documents' %}">Button for documents</a> <a href="{% url 'recommend' %}">Button for recommendation info</b></a></p>

<br><br>
 
         
    <div id="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </div>
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script type="text/javascript" src="js/bootstrap.min.js"></script>

</body>
</html>

{% endblock %}
