{% extends "base.html" %}
{% block content %}

	<div class="loginerror">
		{% if form.errors %}
		<p style="color:red">Looks like there's something missing:<br />
			{% for field_name, field_errors in form.errors|dictsort if field_errors %}
				{% for error in field_errors %}
				<br /><span style="margin-left:15px">- {{ error }}</span>
				{% endfor %}
			{% endfor %}
		</p>
		{% endif %}
	</div>

	<div class="contentholder">

<!--    <div class = "formheader"><h2>We'll be right back!</h2>
        <br><br><p>Please check	back soon - we're doing	some quick maintenance.</p>
        </div> -->


	<h2>Log in to your application</h2>
	</div>

	<div id="loginbox">
		<form action="" method="post" name="login" class="login">
			{{form.hidden_tag()}}
			<p><label for="username" id="username">Email</label>{{form.email(size=30)}}
			<p><label for="password" id="password">Password</label>{{form.password(size=30)}}</p>
			<p><a href="{{ url_for('index')}}"><button type="submit" class="btn">LOG IN</button></a>
			<a href="{{ url_for('createprofile')}}"><button type="button" class="btn">CREATE new profile</button></a>
			<p id="forgot">Forgot your username or password? <a href="{{ url_for('forgot')}}"><u>Click here</a></u>.</p>

			<button type="submit" class="btn">Submit</button>

		</form>
	</div>

        <div>


        </div>
		
{%endblock %}

