
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	{% load staticfiles %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Chicana Latina</title>

		<link rel="stylesheet" type="text/css" href="{% static 'clfapplication/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'clfapplication/css/bootstrap-responsive.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'clfapplication/css/main.css' %}">
	</head>

   <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>

<body>
   <!-- Begin page content -->

<div class="navbar">
  <div class="navbar-inner">
    <span class="brand">Chicana / Latina Foundation</span>
    <ul class="nav">
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'guidelines' %}">Guidelines</a></li>

       </ul>

     <ul class="nav pull-right">
    <li><a href="{% url 'django.contrib.auth.views.logout' %}" >Signout</a></li>
   </li>
  </div>
</div>
   <!-- NAV -->



      <div class="container" style="background-color: white">
	{% block content %}{% endblock %}
</div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">&copy; 2013 Chicana / Latina Foundation</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script type="text/javascript" src="{% static 'clfapplication/js/bootstrap.min.js' %}"></script>

</body>
</html>
