{% extends "base.html" %}
{% block content %}


<div class="container"><!-- Container -->
<h2>Your applicants</h2>

	<p>The applicant(s) below chose you as a recommender and gave us your <b>{{ current_user.email }}</b> email address.</p>
	
	<p>The button for each applicant will be gray until you finish that recommendation - when the button turns green, you're done! You can change what you've written in a section, even if it's marked green, until you submit your final set of complete applications.</p>

	<p>Click on an applicant to get started. Please note that applicants will not be able to see your responses.</p>
		<div id="namebuttonholder">
			{% for s in students %}
				<a href="{{ url_for('rec_form', student_id=s.id) }}"><button style="width: 200px; height=100px; margin-left: 150px; background-color: #B7CCBB">{{s.firstname}} {% if s.firstname2 %} {{s.firstname2}}{% endif %} {{s.lastname}}{% if s.lastname2 %}{{s.lastname2}}{% endif %}</button></a>
			{% endfor %}
		</div>
</div><a href="{{ url_for('rec_finalsubmission') }}"><button class="btn">Submit</button></div></a></div>
	</div>


{% endblock %}
