{% extends "base.html" %}
{% block content %}

<!-- Begin page content -->
<div class="container">
      
<h1>References</h1>

<p>RECOMMENDATION FOR SCHOLARSHIP APPLICANT: <p style="color: #488469">{{student.firstname}} {% if student.firstname2 %} {{student.firstname2}}{% endif %} {{student.lastname}}{% if student.lastname2 %}{{student.lastname2}}{% endif %}</p>	
      
   <p> Thank you for assisting us in reconizing and rewarding students of excellence. </p>
   
   
<hr />
 
 <form>
  <fieldset>
  
    
    <div class="row">
     <div class="span2"><label class="control-label pull-left" for="MailingZip" >Your Name</label></div>
     <div class="span4"><input type="text" id="Reference1Name" class="input-xlarge" placeholder=""></div>
     </div>
    
      <div class="row">
     <div class="span2"><label class="control-label pull-left" for="MailingZip" >Your Title</label></div>
     <div class="span4"><input type="text" id="Reference1Name" class="input-xlarge" placeholder=""></div>
     </div>  
  
      <div class="row">
     <div class="span2"><label class="control-label pull-left" for="MailingZip" >Organization</label></div>
     <div class="span4"><input type="text" id="Organization" class="input-xlarge" placeholder=""></div>
     </div>  
 
     
 <br /> 
    

    <div class="row">
     <div class="span2"><label class="control-label pull-left" for="inputLastName" >Address Line 1</label></div>
     <div class="span10">
      <div class="controls"><input type="text" class="input-xlarge" id="inputEmail" placeholder=""></div>
    </div>
    </div>
    

    <div class="row">
     <div class="span2">
     	<label class="control-label pull-left" for="inputLastName" >Address Line 2</label></div>
     <div class="span10">
      <div class="controls">
      <input type="text" class="input-xlarge" id="inputEmail" placeholder="">
      </div>
    </div>
    
    </div>

    

    <div class="row">
     <div class="span2">
     	<label class="control-label pull-left" for="MailingCity" >City</label></div>
     <div class="span10">
      <div class="controls">
      <input type="text" id="MailingCity" placeholder="">
      </div>
    </div>

    </div>
    
 
    <div class="row">
     <div class="span2">
     	<label class="control-label pull-left" for="MailingCity" >State</label></div>
     <div class="span10">
      <div class="controls">
      <input type="text" id="MailingCity" placeholder="">
      </div>
    </div>
    
    </div>
    
    
    <div class="row">
     <div class="span2">
     	<label class="control-label pull-left" for="MailingZip" >Zip</label></div>
     <div class="span10">
      <div class="controls">
      <input type="text" id="MailingZip" placeholder="">
      </div>
    </div>
    
    </div>
   
     <br />
    
    
    <div class="row">
     <div class="span2">
     	<label class="control-label pull-left" for="MailingZip" >Email</label></div>
     <div class="span10">
      <div class="controls">
      <input type="text" id="Email" placeholder="">
      </div>
    </div>
 
    </div>
   
    
      
    
    <div class="row">
     <div class="span2">
     	<label class="control-label pull-left" for="MailingZip" >Phone</label></div>
     <div class="span10">
      <div class="controls">
      <input type="text" id="Phone" placeholder="">
      </div>
    </div>
 
    </div>
    <br />
 <p> Length of time you have known the applicant </p>
    
    
   <select class="form-control" name="AnnualIncome">
  <option>less than 1 year</option>
  <option>1-2 years</option>
  <option>3 or more years</option>
  </select>
  <br /><br />
 
 <!---->  
            <p> Capacity in which you have known the applicant</p>
       
    
    <select class="form-control" name="AnnualIncome">
  <option>Teacher/Instructor</option>
  <option>Counselor/Advisor</option>
  <option>Employer</option>
    <option>Community</option>
        <option>Other (please specify below)</option>
  </select>
  <br>
  
  <div class="row">
     <div class="span1">
     	<label class="control-label pull-left" for="MailingZip" >Other</label></div>
     <div class="span10">
      <div class="controls">
      <input type="text" id="Other" placeholder="">
      </div>
    </div>
 
    </div>
  
 
   <!----> 
    <!----> 
    <br>
    <br>
  <p class="pull-right">
    <button class="btn btn-large" type="button">Cancel</button>
    <button class="btn btn-large btn-primary" type="button">Save and Continue</button>
    </p>
  </fieldset>
</form>
    
    
    
    </div><!--row span 12 -->
 
{% endblock %}