{% extends "base.html" %}
{% block content %}

<!-- Begin page content -->
<div class="container">

<h1>References</h1>

<p>APPLICANTS PLEASE NOTE: AT LEAST ONE LETTER MUST BE FROM AN INSTRUCTOR. Additional letter may be from an instructor, counselor, community leader, or other appropriate person. Letters from relatives are NOT valid. Please be sure to contact your references before submitting their contact information. If your reference prefers to fill out the recommendation on a paper form instead of electronically, please download the form [recoForm] and ask them to return to CLF before [refDeadline]</p>


<hr />
   <form>
  <fieldset>
    <div class="row">
     <div class="span3"><label class="control-label pull-left" for="MailingZip" >Reference #1: Name</label></div>
     <div class="span4"><input type="text" id="Reference1Name" class="input-xlarge" placeholder=""></div>
     </div>


     <div class="row">

     <div class="span3"><label class="control-label pull-left" for="MailingZip" >Reference #1: Email</label></div>
     <div class="span3"><input type="text" id="Reference1Name" class="input-xlarge" placeholder=""></div>
    </div>

<br /><br />

    <div class="row">
     <div class="span3"><label class="control-label pull-left" for="MailingZip" >Reference #2: Name</label></div>
     <div class="span4"><input type="text" id="Reference1Name" class="input-xlarge" placeholder=""></div>
     </div>

     <div class="row">

     <div class="span3"><label class="control-label pull-left" for="MailingZip" >Reference #2: Email</label></div>
     <div class="span3"><input type="text" id="Reference1Name" class="input-xlarge" placeholder=""></div>
    </div>



 	<br />


    <!---->
    <br class="clearfix" /><br /><br />

    <p class="pull-right">
    <button class="btn btn-large btn-danger" type="button">Cancel</button>
    <button class="btn btn-large btn-success" type="button">Save and Continue</button>
    </p>


{% endblock %}
