<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>CONFIDENTIAL DEMOGRAPHIC INFORMATION</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>

<body>

<div class="container"><!-- Container -->


<div class="span4"><img src="img/chicanalatina.png" alt="chic" /></div>


<div class="row"><div class="span12">
    
    <h1>CONFIDENTIAL DEMOGRAPHIC INFORMATION</h1>
    
    <p></p>
    
    <p> The Chicana Latina Foundation collects demographic information for the purposes of developing profiles of our recipients. Aggregate data is often required by funders and is very important for evaluating our programs. This completed form is not disclosed to readers and interviewers and will in no way affect your eligibility for the scholarship. Thank you for assisting us. </p>
    
    
  <form class="form-horizontal">
  <fieldset>
    <legend>Please complete and include this confidential form with your application.</legend>
    
    
    <p> 1a. Did you apply for financial aid? </p>
    
    
      <div class="radio">
      <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
       Yes
      </label>
      </div>
      <div class="radio">
     <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    No
     </label>
     </div>
    
      <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">If no, please explain:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="Please explain">
    </div>
    </div>
        
        
<!---->        
    
        <p> 1b. Do you qualify for any other financial awards? </p>
    
    
      <div class="radio">
      <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
       Yes
      </label>
      </div>
      <div class="radio">
     <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    No
     </label>
     </div>
    
      <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">If yes, please list:</label>
     <div class="controls">
      <input type="text" id="OtherAwardsList" placeholder="Please list">
    </div>
    </div>
    
<!---->        
    
        <p> 1c. Would you classify yourself as economically disadvantaged? </p>
    
    
      <div class="radio">
      <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
       Yes
      </label>
      </div>
      <div class="radio">
     <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    No
     </label>
     </div>

   <br>
 <!---->      
 
 <p> 2. What is your annual household income? If you are a dependent, use parents income. If you are not dependent, use your independent household’s income. </p>
    
    
    <select class="form-control" name="AnnualIncome">
  <option>Below &#36;15,000</option>
  <option>&#36;15,001-$25,000</option>
  <option>&#36;25,000-&#36;35,000</option>
  <option>&#36;35,000-&#36;55,000</option>
  <option>&#36;55,000-&#36;75,000</option>
  <option>&#36;75,000-&#36;95,000</option>
  <option>&#36;95,000-&#36;125,000</option>
  <option>&#36;125,000-&#36;160,000</option>
  <option>&#62;$160,000</option> 
  </select>
    
    <br>
    <br>
 <!---->  
      <p> 3.  Are you Head of Household? </p>
          <div class="radio">
      <label>
      <input type="radio" name="HeadOfHouseholdYesNo" id="optionsRadios1" value="option1" checked>
       Yes
      </label>
      </div>
      <div class="radio">
     <label>
    <input type="radio" name="HeadOfHouseholdYesNo" id="optionsRadios2" value="option2">
    No
     </label>
     </div>   
     
     <br>
 <!----> 
  <p> 4.  How many dependents are in your family including yourself? </p>
     <select class="form-control" name="NumDependents">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
  <option>7</option>
  <option>8</option>
  <option>9</option> 
  <option>10 or more</option> 
  </select>
    
    <br>
    <br>
 
 
  <!----> 
  
  <p>5a. Are you a parent? </p>
      <div class="radio">
      <label>
      <input type="radio" name="HeadOfHouseholdYesNo" id="optionsRadios1" value="option1" checked>
       Yes
      </label>
      </div>
      <div class="radio">
     <label>
    <input type="radio" name="HeadOfHouseholdYesNo" id="optionsRadios2" value="option2">
    No
     </label>
     </div>   
     
           <div class="control-group">
     <label class="control-label" for="NumChildren" style="float:left">If yes, number of children:</label>
     <div class="controls">
      <input type="text" id="NumChildren" placeholder="Number of children">
    </div>
    </div>

  <p>5b. Are you a single parent? </p>
      <div class="radio">
      <label>
      <input type="radio" name="HeadOfHouseholdYesNo" id="optionsRadios1" value="option1" checked>
       Yes
      </label>
      </div>
      <div class="radio">
     <label>
    <input type="radio" name="HeadOfHouseholdYesNo" id="optionsRadios2" value="option2">
    No
     </label>
     </div>  

   <br>
   <!----> 
    <p>6. Are you an immigrant to this country? </p> 
         <div class="radio">
      <label>
      <input type="radio" name="HeadOfHouseholdYesNo" id="optionsRadios1" value="option1" checked>
       Yes
      </label>
      </div>
      <div class="radio">
     <label>
    <input type="radio" name="HeadOfHouseholdYesNo" id="optionsRadios2" value="option2">
    No
     </label>
     </div>   
     
           <div class="control-group">
     <label class="control-label" for="ImmigratedFrom" style="float:left">If yes, from:</label>
     <div class="controls">
      <input type="text" id="ImmigratedFrom" placeholder="Immigrated from">
    </div>
    </div>
               <div class="control-group">
     <label class="control-label" for="ImmigrationYear" style="float:left">Year immigrated:</label>
     <div class="controls">
      <input type="text" id="ImmigrationYear" placeholder="Year immigrated">
    </div>
    </div>
   
    <!----> 
    
    <p> 7. Is your Mother an immigrant to this country? </p>
             <div class="radio">
      <label>
      <input type="radio" name="HeadOfHouseholdYesNo" id="optionsRadios1" value="option1" checked>
       Yes
      </label>
      </div>
      <div class="radio">
     <label>
    <input type="radio" name="HeadOfHouseholdYesNo" id="optionsRadios2" value="option2">
    No
     </label>
     </div>   
     
           <div class="control-group">
     <label class="control-label" for="ImmigratedFrom" style="float:left">If yes, from:</label>
     <div class="controls">
      <input type="text" id="ImmigratedFrom" placeholder="Immigrated from">
    </div>
    </div>
    <br>
    
       <!----> 
           <p> 8. Is your Father an immigrant to this country? </p>
             <div class="radio">
      <label>
      <input type="radio" name="HeadOfHouseholdYesNo" id="optionsRadios1" value="option1" checked>
       Yes
      </label>
      </div>
      <div class="radio">
     <label>
    <input type="radio" name="HeadOfHouseholdYesNo" id="optionsRadios2" value="option2">
    No
     </label>
     </div>   
     
           <div class="control-group">
     <label class="control-label" for="ImmigratedFrom" style="float:left">If yes, from:</label>
     <div class="controls">
      <input type="text" id="ImmigratedFrom" placeholder="Immigrated from">
    </div>
    </div>
    <br>
    
           <!----> 
           <p> 9. Are you an AB540 student? </p>
             <div class="radio">
      <label>
      <input type="radio" name="HeadOfHouseholdYesNo" id="optionsRadios1" value="option1" checked>
       Yes
      </label>
      </div>
      <div class="radio">
     <label>
    <input type="radio" name="HeadOfHouseholdYesNo" id="optionsRadios2" value="option2">
    No
     </label>
     </div>   
    <br>
       <!----> 
       
       <p> 10. Highest grade level of education completed by: </p>
                  <div class="control-group">
     <label class="control-label" for="ImmigratedFrom" style="float:left">Your mother:</label>
     <div class="controls">
      <input type="text" id="ImmigratedFrom" placeholder="Mother's highest education">
    </div>
    </div>
               <div class="control-group">
     <label class="control-label" for="ImmigrationYear" style="float:left">Your father:</label>
     <div class="controls">
      <input type="text" id="ImmigrationYear" placeholder="Father's highest education">
    </div>
    </div>
    <br>
    
    <!---->   
      <p> 11. What is the primary language spoken in your home? </p>
                  <div class="control-group">
     <label class="control-label" for="ImmigratedFrom" style="float:left">Language:</label>
     <div class="controls">
      <input type="text" id="ImmigratedFrom" placeholder="Language">
    </div>
    </div>

 
   <!----> 
    <!----> 
    <br>
    <br>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
    
    
    
    </div><!--row span 12 -->


	

</div><!-- Container -->
    
    

</body>
</html>
