{% extends "base.html" %}
{% block content %}

<div class="container"><!-- Container -->


    
    <h1>RECOMMENDATION FOR SCHOLARSHIP APPLICANT: <p style="color: #488469">{{student.firstname}} {% if student.firstname2 %} {{student.firstname2}}{% endif %} {{student.lastname}}{% if student.lastname2 %}{{student.lastname2}}{% endif %}</h1>
    
    <p></p>
    
    <p> Thank you for assisting us in reconizing and rewarding students of excellence. </p>
    
    
  <form class="form-horizontal">
  <fieldset>
    <legend>Please complete the following questions and the letter of recommendation at the end of this form.</legend>
    
    

    
        
      <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Your name:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="First Last">
    </div>
    </div>
    
          <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Title:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="Title">
    </div>
    </div>
    
              <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Organization:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="Organization">
    </div>
    </div>
    
                  <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Address:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="Address">
    </div>
    </div>
        
                          <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Cite/State/Zip:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="Address">
    </div>
    </div>
    
                              <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Phone:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="Address">
    </div>
    </div>
    
                                  <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Email:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="Address">
    </div>
    </div>
        
<!---->        
    
        <p> Length of time you have known the applicant: </p>
       
    
    <select class="form-control" name="AnnualIncome">
  <option>less than 1 year</option>
  <option>1-2 years</option>
  <option>3 or more years</option>
  </select>
    
    <br>
    <br>
 <!---->  
            <p> Capacity in which you have known the applicant: </p>
       
    
    <select class="form-control" name="AnnualIncome">
  <option>Teacher/Instructor</option>
  <option>Counselor/Advisor</option>
  <option>Employer</option>
    <option>Community</option>
        <option>Other (please specify below)</option>
  </select>
  <br>
       <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Other:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="How you know the applicant:">
    </div>
    </div>

  
 
   <!----> 
    <!----> 
    <br>
    <br>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
    
    
    
    </div><!--row span 12 -->


	

</div><!-- Container -->

{% endblock %}
