<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>RECOMMENDATION</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

</head>

<body>

<div class="container"><!-- Container -->


<div class="span4"><img src="img/chicanalatina.png" alt="chic" /></div>


<div class="row"><div class="span12">
    
    <h1>RECOMMENDATION FOR SCHOLARSHIP APPLICANT</h1>
    
    <p></p>
    
    <p> Thank you for assisting us in reconizing and rewarding students of excellence. </p>
    
    
  <form class="form-horizontal">
  <fieldset>
    <legend>Please complete the following questions and the letter of recommendation at the end of this form.</legend>
    
    

    
        
      <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Your name:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="First Last">
    </div>
    </div>
    
          <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Title:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="Title">
    </div>
    </div>
    
              <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Organization:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="Organization">
    </div>
    </div>
    
                  <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Address:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="Address">
    </div>
    </div>
        
                          <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Cite/State/Zip:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="Address">
    </div>
    </div>
    
                              <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Phone:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="Address">
    </div>
    </div>
    
                                  <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Email:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="Address">
    </div>
    </div>
        
<!---->        
    
        <p> Length of time you have known the applicant: </p>
       
    
    <select class="form-control" name="AnnualIncome">
  <option>less than 1 year</option>
  <option>1-2 years</option>
  <option>3 or more years</option>
  </select>
    
    <br>
    <br>
 <!---->  
            <p> Capacity in which you have known the applicant: </p>
       
    
    <select class="form-control" name="AnnualIncome">
  <option>Teacher/Instructor</option>
  <option>Counselor/Advisor</option>
  <option>Employer</option>
    <option>Community</option>
        <option>Other (please specify below)</option>
  </select>
  <br>
       <div class="control-group">
     <label class="control-label" for="inputLastName" style="float:left">Other:</label>
     <div class="controls">
      <input type="text" id="WhyNoFinancialAid" placeholder="How you know the applicant:">
    </div>
    </div>

  
 
   <!----> 
    <!----> 
    <br>
    <br>
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
    
    
    
    </div><!--row span 12 -->


	

</div><!-- Container -->
    
    

</body>
</html>
