{% extends "base.html" %}

{% block content %}

<div class = "contentholder evaluationtext">
<h2 class="formheader" style="color: #AFBf45;">Evaluations for {{ applicant.firstname }} {{applicant.lastname }}</h2>
<p style="text-align: center; font-size: 20px"><b>Average:</b> {{averagescore}} / 24.0 </p>
<p style="text-align: center; font-size: 20px"><b>{{yeses}}</b> yeses out of <b>{{complete}} complete evaluations </p>

<br><br>
{% for e in [0,1,2] %}
<div><h3 style="color: #AFBf45;">Evaluation from {{evaluators[e].firstname}} {{evaluators[e].lastname}}</h3></div>
	<div>
		<ol>
			<li><strong>Critical approach to problem-solving:</strong> {{evals[e].critical}} </li>
			<li><strong>Mission aligns with ours:</strong> {{evals[e].mission}} </li>
			<li><strong>See themselves in community with others:</strong> {{evals[e].community}} </li>
			<li><strong>Inspiring set of ideas or story:</strong> {{evals[e].inspire}} </li>
			<li><strong>Recommend to the program?:</strong> {{evals[e].yesno}} </li>
			<li><strong>Interview question:</strong> {{evals[e].interview}} </li>
			<li><strong>Additional notes:</strong> {{evals[e].additional}} </li>
		</ol>
		
		
		
<br><br>
	</div>
{% endfor %}

{% endblock %}
